# The pin assignments

IO_LOC "CLK"        45;

IO_LOC "KEY[0]"     15;
IO_LOC "KEY[1]"     14;

IO_LOC "LED"        10;

IO_LOC "FLASH_CLK"  1;   // TM1638 STB
IO_LOC "FLASH_DI"   48;  // TM1638 CLK
IO_LOC "FLASH_DO"   47;  // TM1638 DIO
