# The pin assignments

IO_LOC "CLK"            V22;

IO_LOC "KEY[0]"        AA13;
IO_LOC "KEY[1]"        AB13;
IO_LOC "KEY[2]"         Y12;

IO_LOC "LCD_CLK"        L19;
IO_LOC "LCD_EN"         L14;
IO_LOC "LCD_VS"         L15;
IO_LOC "LCD_HS"         N20;

IO_LOC "LCD_R[0]"       G18;
IO_LOC "LCD_R[1]"       G17;
IO_LOC "LCD_R[2]"       H22;
IO_LOC "LCD_R[3]"       J22;
IO_LOC "LCD_R[4]"       K22;
IO_LOC "LCD_R[5]"       K21;
IO_LOC "LCD_G[0]"       K18;
IO_LOC "LCD_G[1]"       L21;
IO_LOC "LCD_G[2]"       M21;
IO_LOC "LCD_G[3]"       M22;
IO_LOC "LCD_G[4]"       N22;
IO_LOC "LCD_G[5]"       L18;
IO_LOC "LCD_B[0]"       M18;
IO_LOC "LCD_B[1]"       N19;
IO_LOC "LCD_B[2]"       N18;
IO_LOC "LCD_B[3]"       K16;
IO_LOC "LCD_B[4]"       L16;
IO_LOC "LCD_B[5]"       M20;

IO_LOC "TMDS_CLK_P_0"  G15,G16;
IO_LOC "TMDS_D_P_0[0]" J14,H14;
IO_LOC "TMDS_D_P_0[1]" J15,H15;
IO_LOC "TMDS_D_P_0[2]" K17,J17;

#IO_LOC "UART2_RXD"     V16;
#IO_LOC "UART2_TXD"     U16;

                             #   1 -> mic.3V3
                             #   2 -> 3V3
                             #   3 -> mic.GND
                             #   4 -> GND
IO_LOC "PMOD_0[6]"     R18;  #   5 ->
IO_LOC "PMOD_0[7]"     T18;  #   6 ->
IO_LOC "PMOD_0[4]"     P16;  #   7 -> mic.lr
IO_LOC "PMOD_0[5]"     R17;  #   8 ->
IO_LOC "PMOD_0[2]"     T21;  #   9 -> mic.ws
IO_LOC "PMOD_0[3]"     U21;  #  10 ->
IO_LOC "PMOD_0[0]"     P19;  #  11 -> mic.sck
IO_LOC "PMOD_0[1]"     R19;  #  12 ->

                             #   1 -> tm1638.3V3
                             #   2 -> audio_out.3V3
                             #   3 -> tm1638.GND
                             #   4 -> audio_out.GND
IO_LOC "PMOD_1[6]"     AA19; #   5 -> tm1638.sio_data
IO_LOC "PMOD_1[7]"     AB20; #   6 -> audio_out.lrclk
IO_LOC "PMOD_1[4]"     AA20; #   7 -> tm1638.sio_clk
IO_LOC "PMOD_1[5]"     AA21; #   8 -> audio_out.sdata
IO_LOC "PMOD_1[2]"     AB21; #   9 -> tm1638.sio_stb
IO_LOC "PMOD_1[3]"     AB22; #  10 -> audio_out.bclk
IO_LOC "PMOD_1[0]"     Y21;  #  11 -> mic.sd
IO_LOC "PMOD_1[1]"     Y22;  #  12 -> audio_out.mclk

IO_PORT "CLK"      IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "KEY[0]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "KEY[1]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "KEY[2]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_PORT "LCD_CLK"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_EN"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_VS"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_HS"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_R[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_B[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;

IO_PORT "TMDS_CLK_P_0" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_PORT "TMDS_D_P_0[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_PORT "TMDS_D_P_0[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_PORT "TMDS_D_P_0[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_PORT "PMOD_0[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_0[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_0[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_0[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_0[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_0[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_0[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_0[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "PMOD_1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_1[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_1[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_1[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_1[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_1[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD_1[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
