IO_LOC "CLK"               52;

IO_LOC "KEY[0]"            4;
IO_LOC "KEY[1]"            3;

IO_LOC "LED[0]"            10;
IO_LOC "LED[1]"            11;
IO_LOC "LED[2]"            13;
IO_LOC "LED[3]"            14;
IO_LOC "LED[4]"            15;
IO_LOC "LED[5]"            16;

IO_LOC  "SMALL_LCD_CLK"    76;
IO_LOC  "SMALL_LCD_RESETN" 47;
IO_LOC  "SMALL_LCD_CS"     48;
IO_LOC  "SMALL_LCD_RS"     49;
IO_LOC  "SMALL_LCD_DATA"   77;

# IO_PORT "SMALL_LCD_CLK"    PULL_MODE=UP DRIVE=8;
# IO_PORT "SMALL_LCD_CS"     PULL_MODE=UP DRIVE=8;
# IO_PORT "SMALL_LCD_DATA"   PULL_MODE=UP DRIVE=8;
# IO_PORT "SMALL_LCD_RESETN" PULL_MODE=UP DRIVE=8;
# IO_PORT "SMALL_LCD_RS"     PULL_MODE=UP DRIVE=8;

IO_LOC "LARGE_LCD_DE"      33;
IO_LOC "LARGE_LCD_VS"      34;
IO_LOC "LARGE_LCD_HS"      40;
IO_LOC "LARGE_LCD_CK"      35;
IO_LOC "LARGE_LCD_INIT"    63;
IO_LOC "LARGE_LCD_BL"      86;

IO_LOC "LARGE_LCD_R[3]"    75;
IO_LOC "LARGE_LCD_R[4]"    74;
IO_LOC "LARGE_LCD_R[5]"    73;
IO_LOC "LARGE_LCD_R[6]"    72;
IO_LOC "LARGE_LCD_R[7]"    71;

IO_LOC "LARGE_LCD_G[2]"    70;
IO_LOC "LARGE_LCD_G[3]"    69;
IO_LOC "LARGE_LCD_G[4]"    68;
IO_LOC "LARGE_LCD_G[5]"    57;
IO_LOC "LARGE_LCD_G[6]"    56;
IO_LOC "LARGE_LCD_G[7]"    55;

IO_LOC "LARGE_LCD_B[3]"    54;
IO_LOC "LARGE_LCD_B[4]"    53;
IO_LOC "LARGE_LCD_B[5]"    51;
IO_LOC "LARGE_LCD_B[6]"    42;
IO_LOC "LARGE_LCD_B[7]"    41;

# IO_LOC "TMDS_CLK_P"      69,68;
# IO_LOC "TMDS_D_P[0]"     71,70;
# IO_LOC "TMDS_D_P[1]"     73,72;
# IO_LOC "TMDS_D_P[2]"     75,74;

IO_LOC "UART_TX"           17;
IO_LOC "UART_RX"           18;

IO_LOC "GPIO_1[0]          38;
IO_LOC "GPIO_1[1]          37;
IO_LOC "GPIO_1[2]          36;
IO_LOC "GPIO_1[3]          39;
IO_LOC "GPIO_1[4]          25;
IO_LOC "GPIO_1[5]          26;
IO_LOC "GPIO_1[6]          27;
IO_LOC "GPIO_1[7]          28;
IO_LOC "GPIO_1[8]          29;
IO_LOC "GPIO_1[9]          30;

IO_LOC "GPIO_0[0]          85;
IO_LOC "GPIO_0[1]          84;
IO_LOC "GPIO_0[2]          83;
IO_LOC "GPIO_0[3]          82;
IO_LOC "GPIO_0[4]          81;
IO_LOC "GPIO_0[5]          80;
IO_LOC "GPIO_0[6]          79;

IO_LOC "FLASH_CLK"         59;
IO_LOC "FLASH_CSB"         60;
IO_LOC "FLASH_MOSI"        61;
IO_LOC "FLASH_MISO"        62;

