// The physical constraints and pin assignments
//

// CLK
IO_LOC "CLK" 52;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;


// LED
IO_LOC "LED[5]" 16;
IO_PORT "LED[5]" PULL_MODE=UP DRIVE=8;

IO_LOC "LED[4]" 15;
IO_PORT "LED[4]" PULL_MODE=UP DRIVE=8;

IO_LOC "LED[3]" 14;
IO_PORT "LED[3]" PULL_MODE=UP DRIVE=8;

IO_LOC "LED[2]" 13;
IO_PORT "LED[2]" PULL_MODE=UP DRIVE=8;

IO_LOC "LED[1]" 11;
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8;

IO_LOC "LED[0]" 10;
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8;


// UART
IO_LOC "UART_TX" 17;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "UART_RX" 18;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33 PULL_MODE=UP;


// KEY
IO_LOC "KEY[1]" 4;
IO_PORT "KEY[1]" IO_TYPE=LVCMOS18;

IO_LOC "KEY[0]" 3;
IO_PORT "KEY[0]" IO_TYPE=LVCMOS18;

// GPIO
IO_LOC "GPIO[0]" 31;
IO_PORT "GPIO[0]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[1]" 32;
IO_PORT "GPIO[1]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[2]" 49;
IO_PORT "GPIO[2]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[3]" 70;
IO_PORT "GPIO[3]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[4]" 71;
IO_PORT "GPIO[4]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[5]" 72;
IO_PORT "GPIO[5]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[6]" 73;
IO_PORT "GPIO[6]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[7]" 74;
IO_PORT "GPIO[7]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[8]" 75;
IO_PORT "GPIO[8]" IO_TYPE=LVCMOS33;

// PMOD VGA module

IO_LOC "VGA_HS" 38;
IO_PORT "VGA_HS" IO_TYPE=LVCMOS33;

IO_LOC "VGA_VS" 37;
IO_PORT "VGA_VS" IO_TYPE=LVCMOS33;

IO_LOC "VGA_R[0]" 36;
IO_PORT "VGA_R[0]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_R[1]" 39;
IO_PORT "VGA_R[1]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_R[2]" 25;
IO_PORT "VGA_R[2]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_R[3]" 26;
IO_PORT "VGA_R[3]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_G[0]" 27;
IO_PORT "VGA_G[0]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_G[1]" 28;
IO_PORT "VGA_G[1]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_G[2]" 29;
IO_PORT "VGA_G[2]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_G[3]" 30;
IO_PORT "VGA_G[3]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_B[0]" 33;
IO_PORT "VGA_B[0]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_B[1]" 34;
IO_PORT "VGA_B[1]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_B[2]" 40;
IO_PORT "VGA_B[2]" IO_TYPE=LVCMOS33;

IO_LOC "VGA_B[3]" 35;
IO_PORT "VGA_B[3]" IO_TYPE=LVCMOS33;
