LOCATE    COMP "CLK" SITE "P6"; // 25MHz crystal oscillator
IOBUF     PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "LED[0]" SITE "T6";
IOBUF  PORT "LED[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "KEY[0]" SITE "R7";
IOBUF  PORT "KEY[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "GPIO[0]" SITE "R12";
IOBUF  PORT "GPIO[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[1]" SITE "T14";
IOBUF  PORT "GPIO[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "HDMI_P[0]" SITE "R15";
LOCATE COMP "HDMI_P[1]" SITE "P13";
LOCATE COMP "HDMI_P[2]" SITE "N14";
LOCATE COMP "HDMI_P[3]" SITE "G16";
LOCATE COMP "HDMI_N[0]" SITE "T15";
LOCATE COMP "HDMI_N[1]" SITE "P14";
LOCATE COMP "HDMI_N[2]" SITE "H15";
LOCATE COMP "HDMI_N[3]" SITE "H14";

IOBUF  PORT "HDMI_P[0]" IO_TYPE=LVCMOS33;
IOBUF  PORT "HDMI_P[1]" IO_TYPE=LVCMOS33;
IOBUF  PORT "HDMI_P[2]" IO_TYPE=LVCMOS33;
IOBUF  PORT "HDMI_P[3]" IO_TYPE=LVCMOS33;
IOBUF  PORT "HDMI_N[0]" IO_TYPE=LVCMOS33;
IOBUF  PORT "HDMI_N[1]" IO_TYPE=LVCMOS33;
IOBUF  PORT "HDMI_N[2]" IO_TYPE=LVCMOS33;
IOBUF  PORT "HDMI_N[3]" IO_TYPE=LVCMOS33;
