// The pin assignments

// CLK
IO_LOC  "CLK"          V18;

// LED
IO_LOC  "LED[0]"       N13;  // 1
IO_LOC  "LED[1]"       P14;  // 2
IO_LOC  "LED[2]"       R14;  // 3
IO_LOC  "LED[3]"       N14;  // 4
IO_LOC  "LED[4]"       P15;  // 5
IO_LOC  "LED[5]"       P16;  // 6
IO_LOC  "LED[6]"       R16;  // 7
IO_LOC  "LED[7]"       P17;  // 8
IO_LOC  "LED[8]"       T18;  // 9
IO_LOC  "LED[9]"       R18;  // 10
IO_LOC  "LED[10]"      R17;  // 11
IO_LOC  "LED[11]"      W22;  // 12
IO_LOC  "LED[12]"      Y22;  // 13
IO_LOC  "LED[13]"      AA21; // 14
IO_LOC  "LED[14]"      AB22; // 15
IO_LOC  "LED[15]"      AB21; // 16

// UART
IO_LOC  "UART_RX"      Y19;
IO_LOC  "UART_TX"      U20;

// SWITCH
IO_LOC  "SW[0]"        U18;  // 1.1
IO_LOC  "SW[1]"        U17;  // 1.2
IO_LOC  "SW[2]"        W17;  // 1.3
IO_LOC  "SW[3]"        V17;  // 1.4
IO_LOC  "SW[4]"        AA19; // 1.5
IO_LOC  "SW[5]"        AA18; // 1.6
IO_LOC  "SW[6]"        AB18; // 1.7
IO_LOC  "SW[7]"        AB20; // 1.8
IO_LOC  "SW[8]"        V10;  // 2.1
IO_LOC  "SW[9]"        AB12; // 2.2
IO_LOC  "SW[10]"       W10;  // 2.3
IO_LOC  "SW[11]"       AA11; // 2.4
IO_LOC  "SW[12]"       AA10; // 2.5
IO_LOC  "SW[13]"       AB11; // 2.6
IO_LOC  "SW[14]"       AA9;  // 2.7
IO_LOC  "SW[15]"       AB10; // 2.8

// KEY
IO_LOC  "KEY[0]"       V20;  // 1
IO_LOC  "KEY[1]"       W19;  // 2
IO_LOC  "KEY[2]"       W20;  // 3
IO_LOC  "KEY[3]"       W21;  // 4

// 7SEG
IO_LOC  "HGFEDCBA[0]"  M21;  // A
IO_LOC  "HGFEDCBA[1]"  L21;  // B
IO_LOC  "HGFEDCBA[2]"  M17;  // C
IO_LOC  "HGFEDCBA[3]"  J22;  // D
IO_LOC  "HGFEDCBA[4]"  H22;  // E
IO_LOC  "HGFEDCBA[5]"  K21;  // F
IO_LOC  "HGFEDCBA[6]"  K22;  // G
IO_LOC  "HGFEDCBA[7]"  J20;  // Dot
IO_LOC  "DIGIT[0]"     K17;  // 1.1
IO_LOC  "DIGIT[1]"     J17;  // 1.2
IO_LOC  "DIGIT[2]"     L14;  // 1.3
IO_LOC  "DIGIT[3]"     L15;  // 1.4
IO_LOC  "DIGIT[4]"     L16;  // 2.1
IO_LOC  "DIGIT[5]"     M16;  // 2.2
IO_LOC  "DIGIT[6]"     H20;  // 2.3
IO_LOC  "DIGIT[7]"     G20;  // 2.4

// GPIO
IO_LOC  "GPIO[0]"      B22;  // 9
IO_LOC  "GPIO[1]"      B21;  // 10
IO_LOC  "GPIO[2]"      A21;  // 11
IO_LOC  "GPIO[4]"      A20;  // 13
IO_LOC  "GPIO[6]"      B18;  // 15
IO_LOC  "GPIO[16]"     E21;  // 5
IO_LOC  "GPIO[17]"     G21;  // 6
IO_LOC  "GPIO[18]"     D21;  // 7
IO_LOC  "GPIO[19]"     G22;  // 8

// Microphone
IO_LOC  "GPIO[15]"     A13;  // 24 ws
IO_LOC  "GPIO[13]"     A14;  // 22 lr
IO_LOC  "GPIO[11]"     A15;  // 20 sck
IO_LOC  "GPIO[9]"      A16;  // 18 sd
IO_PORT "GPIO[9]"      PULL_MODE=DOWN;

// Sound DAC
IO_LOC  "GPIO[14]"     B13;  // 23 lrck
IO_LOC  "GPIO[12]"     B15;  // 21 din
IO_LOC  "GPIO[10]"     B16;  // 19 bck
IO_LOC  "GPIO[8]"      B17;  // 17 sck

// TM1638
IO_LOC  "GPIO[7]"      A18;  // 16 sio_stb
IO_LOC  "GPIO[5]"      A19;  // 14 sio_clk
IO_LOC  "GPIO[3]"      B20;  // 12 sio_data