LOCATE COMP "CLK" SITE "A9"; // 48MHz crystal oscillator
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[0]" SITE "K4";
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[1]" SITE "M3";
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[2]" SITE "J3";
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "KEY[1]" SITE "V17";
IOBUF PORT "KEY[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "KEY[0]" SITE "J17";
IOBUF PORT "KEY[0]" IO_TYPE=SSTL135_I;

LOCATE COMP "VGA_R[0]" SITE "M18"; // Connected to IO_1
IOBUF PORT "VGA_R[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_R[1]" SITE "N17"; // Connected to IO_0
IOBUF PORT "VGA_R[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_R[2]" SITE "N15"; // Connected to IO_MISO
IOBUF PORT "VGA_R[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_R[3]" SITE "N16"; // Connected to IO_MOSI
IOBUF PORT "VGA_R[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G[0]" SITE "R17"; // Connected to IO_SCK
IOBUF PORT "VGA_G[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G[1]" SITE "T17"; // Connected to IO_A5
IOBUF PORT "VGA_G[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G[2]" SITE "G4"; // Connected to IO_A4
IOBUF PORT "VGA_G[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G[3]" SITE "H4"; // Connected to IO_A3
IOBUF PORT "VGA_G[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B[0]" SITE "N4"; // Connected to IO_A2
IOBUF PORT "VGA_B[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B[1]" SITE "N3"; // Connected to IO_A1
IOBUF PORT "VGA_B[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B[2]" SITE "L4"; // Connected to IO_A0
IOBUF PORT "VGA_B[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B[3]" SITE "C10"; // Connected to IO_SDA
IOBUF PORT "VGA_B[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_HS" SITE "C9"; // Connected to IO_SCL
IOBUF PORT "VGA_HS" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_VS" SITE "B10"; // Connected to IO_5
IOBUF PORT "VGA_VS" IO_TYPE=LVCMOS33;

LOCATE COMP "GPIO[0]" SITE "B9"; // Connected to IO_6
IOBUF PORT "GPIO[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[1]" SITE "C8"; // Connected to IO_9
IOBUF PORT "GPIO[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[2]" SITE "B8"; // Connected to IO_10
IOBUF PORT "GPIO[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[3]" SITE "A8"; // Connected to IO_11
IOBUF PORT "GPIO[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[4]" SITE "H2"; // Connected to IO_12
IOBUF PORT "GPIO[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[5]" SITE "J2"; // Connected to IO_13
IOBUF PORT "GPIO[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[6]" SITE "K1"; // Connected to SD0_CLK
IOBUF PORT "GPIO[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[7]" SITE "K2"; // Connected to SD0_CMD
IOBUF PORT "GPIO[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "SW[0]" SITE "L3"; // Connected to SD0_DAT2
IOBUF PORT "SW[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "SW[1]" SITE "M1"; // Connected to SD0_DAT3
IOBUF PORT "SW[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "UART_RX" SITE "J1"; // Connected to SD0_DAT0
IOBUF PORT "UART_RX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART_TX" SITE "K3"; // Connected to SD0_DAT1
IOBUF PORT "UART_TX" IO_TYPE=LVCMOS33;

