//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved.
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-1
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Created Time: Fri 07 14 20:05:21 2023

IO_LOC "LED[5]" L16;
IO_PORT "LED[5]" IO_TYPE=LVCMOS33  ;
IO_LOC "LED[4]" L14;
IO_PORT "LED[4]" IO_TYPE=LVCMOS33  ;
IO_LOC "LED[3]" N14;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33  ;
IO_LOC "LED[2]" N16;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33  ;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33;
IO_LOC "UART_TX" M11;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_1[2]" M14;
IO_PORT "GPIO_1[2]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_1[1]" T12;
IO_PORT "GPIO_1[1]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_1[0]" T11;
IO_PORT "GPIO_1[0]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_0[7]" T9;
IO_PORT "GPIO_0[7]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_0[6]" P8;
IO_PORT "GPIO_0[6]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_0[5]" R8;
IO_PORT "GPIO_0[5]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_0[4]" P6;
IO_PORT "GPIO_0[4]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_0[3]" P9;
IO_PORT "GPIO_0[3]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_0[2]" T8;
IO_PORT "GPIO_0[2]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_0[1]" T7;
IO_PORT "GPIO_0[1]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_0[0]" T6;
IO_PORT "GPIO_0[0]" IO_TYPE=LVCMOS33  ;
IO_LOC "UART_RX" T13;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33 ;
IO_PORT "SW[4]" IO_TYPE=LVCMOS33 ;
IO_LOC "SW[3]" T4;
IO_PORT "SW[3]" IO_TYPE=LVCMOS33 ;
IO_LOC "SW[2]" E8;
IO_PORT "SW[2]" IO_TYPE=LVCMOS33 ;
IO_LOC "SW[1]" E9;
IO_PORT "SW[1]" IO_TYPE=LVCMOS33 ;
IO_PORT "SW[0]" IO_TYPE=LVCMOS33;
IO_LOC "KEY[4]" C7;
IO_PORT "KEY[4]" IO_TYPE=LVCMOS33 ;
IO_LOC "KEY[3]" D7;
IO_PORT "KEY[3]" IO_TYPE=LVCMOS33 ;
IO_LOC "KEY[2]" T2;
IO_PORT "KEY[2]" IO_TYPE=LVCMOS33 ;
IO_LOC "KEY[1]" T3;
IO_PORT "KEY[1]" IO_TYPE=LVCMOS33 ;
IO_PORT "KEY[0]" IO_TYPE=LVCMOS33;
IO_LOC "RESET" T10;
IO_PORT "RESET" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "CLK" H11;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "GPIO_3[7]" N8;
IO_PORT "GPIO_3[7]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_3[6]" N7;
IO_PORT "GPIO_3[6]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_3[5]" D11;
IO_PORT "GPIO_3[5]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_3[4]" B11;
IO_PORT "GPIO_3[4]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_3[3]" L9;
IO_PORT "GPIO_3[3]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_3[2]" N9;
IO_PORT "GPIO_3[2]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_3[1]" N6;
IO_PORT "GPIO_3[1]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_3[0]" A11;
IO_PORT "GPIO_3[0]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_2[7]" C12;
IO_PORT "GPIO_2[7]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_2[6]" A14;
IO_PORT "GPIO_2[6]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_2[5]" A15;
IO_PORT "GPIO_2[5]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_2[4]" E15;
IO_PORT "GPIO_2[4]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_2[3]" B12;
IO_PORT "GPIO_2[3]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_2[2]" B13;
IO_PORT "GPIO_2[2]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_2[1]" B14;
IO_PORT "GPIO_2[1]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_2[0]" D14;
IO_PORT "GPIO_2[0]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_1[7]" J16;
IO_PORT "GPIO_1[7]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_1[6]" M15;
IO_PORT "GPIO_1[6]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_1[5]" R11;
IO_PORT "GPIO_1[5]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_1[4]" P11;
IO_PORT "GPIO_1[4]" IO_TYPE=LVCMOS33  ;
IO_LOC "GPIO_1[3]" J14;
IO_PORT "GPIO_1[3]" IO_TYPE=LVCMOS33  ;
