LOCATE COMP "CLK" SITE "B9"; // 25MHz crystal oscillator
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[0]" SITE "A13";
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[1]" SITE "A14";
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[2]" SITE "A15";
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "LED[3]" SITE "B14";
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "KEY[0]" SITE "B13";
IOBUF PORT "KEY[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "KEY[1]" SITE "C13";
IOBUF PORT "KEY[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "KEY[2]" SITE "D13";
IOBUF PORT "KEY[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "KEY[3]" SITE "E13";
IOBUF PORT "KEY[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "GPIO[0]" SITE "L1";
IOBUF PORT "GPIO[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[1]" SITE "L2";
IOBUF PORT "GPIO[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[2]" SITE "M1";
IOBUF PORT "GPIO[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[3]" SITE "M2";
IOBUF PORT "GPIO[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[4]" SITE "K4";
IOBUF PORT "GPIO[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[5]" SITE "K5";
IOBUF PORT "GPIO[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[6]" SITE "L4";
IOBUF PORT "GPIO[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[7]" SITE "L5";
IOBUF PORT "GPIO[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[8]" SITE "N1";
IOBUF PORT "GPIO[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[9]" SITE "P2";
IOBUF PORT "GPIO[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[10]" SITE "L3";
IOBUF PORT "GPIO[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[11]" SITE "M3";
IOBUF PORT "GPIO[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[12]" SITE "P1";
IOBUF PORT "GPIO[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "GPIO[13]" SITE "R1";
IOBUF PORT "GPIO[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_R[0]" SITE "M4"; // Connected to GPIO_14
IOBUF PORT "VGA_R[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_R[1]" SITE "N3"; // Connected to GPIO_15
IOBUF PORT "VGA_R[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_R[2]" SITE "N4"; // Connected to GPIO_16
IOBUF PORT "VGA_R[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_R[3]" SITE "D16"; // Connected to GPIO_17
IOBUF PORT "VGA_R[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G[0]" SITE "R2"; // Connected to GPIO_18
IOBUF PORT "VGA_G[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G[1]" SITE "T2"; // Connected to GPIO_19
IOBUF PORT "VGA_G[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G[2]" SITE "P4"; // Connected to GPIO_20
IOBUF PORT "VGA_G[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G[3]" SITE "R3"; // Connected to GPIO_21
IOBUF PORT "VGA_G[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B[0]" SITE "R4"; // Connected to GPIO_22
IOBUF PORT "VGA_B[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B[1]" SITE "T3"; // Connected to GPIO_23
IOBUF PORT "VGA_B[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B[2]" SITE "R5"; // Connected to GPIO_24
IOBUF PORT "VGA_B[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B[3]" SITE "T4"; // Connected to GPIO_25
IOBUF PORT "VGA_B[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_HS" SITE "M5"; // Connected to GPIO_26
IOBUF PORT "VGA_HS" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_VS" SITE "N5"; // Connected to GPIO_27
IOBUF PORT "VGA_VS" IO_TYPE=LVCMOS33;

LOCATE COMP "SW[0]" SITE "A7"; // Connected to RS485_RD
IOBUF PORT "SW[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "SW[1]" SITE "A8"; // Connected to RS485_DI
IOBUF PORT "SW[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "UART_RX" SITE "D12"; // Connected to UART_DEBUG_RXD
IOBUF PORT "UART_RX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART_TX" SITE "E12"; // Connected to UART_DEBUG_TXD
IOBUF PORT "UART_TX" IO_TYPE=LVCMOS33;
