# The pin assignments for BrisbaneSilicon BRS-100-GW1NR9
# with the MuseLab PMOD-RGBLCD adapter, a TM1638 module,
# an INMP441 microphone and a PCM5102 DAC.
#
# The FPGA pins are the same as on Tang Nano 9K with a 480x272 LCD,
# see boards/tang_nano_9k_lcd_480_272_tm1638/board_specific.cst.
# The comments name the header pin of BRS-100 and the pin of
# the 2x15 header J2 of PMOD-RGBLCD. See README.md for the wiring.
#
# All the I/O pins of the J5 and J6 headers are 3.3V.
# KEY and LED pins are in a 1.8V bank.

IO_LOC "CLK"            52;

IO_LOC "KEY[0]"          4;  # Button 2, farther from header pin 1
IO_LOC "KEY[1]"          3;  # Button 1, next to header pin 1

IO_LOC "LED[0]"         10;  # LED6
IO_LOC "LED[1]"         11;  # LED5
IO_LOC "LED[2]"         13;  # LED4
IO_LOC "LED[3]"         14;  # LED3
IO_LOC "LED[4]"         15;  # LED2
IO_LOC "LED[5]"         16;  # LED1

IO_LOC "UART_RX"        18;  # USB UART
IO_LOC "UART_TX"        17;  # USB UART

# The first 3 GPIO pins of J5 are used for TM1638 I/O module
# which carries 8 LEDs, 8-digit 7-segment display and 8 keys

IO_LOC "TM1638_DIO"     25;  # J5.1   tm1638: sio_data
IO_LOC "TM1638_CLK"     26;  # J5.2   tm1638: sio_clk
IO_LOC "TM1638_STB"     27;  # J5.3   tm1638: sio_stb

# I2S audio output to PCM5102 DAC module

IO_LOC "DAC_BCK"        28;  # J5.4   pcm5102: bck
IO_LOC "DAC_DIN"        29;  # J5.5   pcm5102: din
IO_LOC "DAC_LCK"        30;  # J5.6   pcm5102: lck

# 480x272 LCD through PMOD-RGBLCD

IO_LOC "LCD_DE"         33;  # J5.7   J2.13
IO_LOC "LCD_VS"         34;  # J5.8   J2.12
IO_LOC "LCD_CK"         35;  # J5.9   J2.10
IO_LOC "LCD_HS"         40;  # J5.14  J2.11

# INMP441 microphone

IO_LOC "MIC_SCK"        36;  # J5.10  inmp441: sck
IO_LOC "MIC_WS"         37;  # J5.11  inmp441: ws
IO_LOC "MIC_LR"         38;  # J5.12  inmp441: lr
IO_LOC "MIC_SD"         39;  # J5.13  inmp441: sd

# The colors of PMOD-RGBLCD are RGB565. The adapter drives
# the lower bits of the 24-bit LCD with copies of R0, G0 and B0.

IO_LOC "LCD_B[7]"       41;  # J5.15  J2.18  B4
IO_LOC "LCD_B[6]"       42;  # J5.16  J2.19  B3

IO_LOC "GPIO[0]"        77;  # J6.1   user GPIO
IO_LOC "GPIO[1]"        76;  # J6.2   user GPIO

IO_LOC "LCD_R[3]"       75;  # J6.3   J2.30  R0
IO_LOC "LCD_R[4]"       74;  # J6.4   J2.29  R1
IO_LOC "LCD_R[5]"       73;  # J6.5   J2.28  R2
IO_LOC "LCD_R[6]"       72;  # J6.6   J2.27  R3
IO_LOC "LCD_R[7]"       71;  # J6.7   J2.24  R4

IO_LOC "LCD_G[2]"       70;  # J6.8   J2.1   G0
IO_LOC "LCD_G[3]"       69;  # J6.9   J2.2   G1
IO_LOC "LCD_G[4]"       68;  # J6.10  J2.3   G2
IO_LOC "LCD_G[5]"       57;  # J6.11  J2.4   G3
IO_LOC "LCD_G[6]"       56;  # J6.12  J2.7   G4
IO_LOC "LCD_G[7]"       55;  # J6.13  J2.9   G5

IO_LOC "LCD_B[3]"       54;  # J6.14  J2.22  B0
IO_LOC "LCD_B[4]"       53;  # J6.15  J2.21  B1
IO_LOC "LCD_B[5]"       51;  # J6.16  J2.20  B2
