//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Wed 03 15 13:45:13 2023

IO_LOC "TMDS_D_P[0]" 49,48;
IO_PORT "TMDS_D_P[0]" IO_TYPE=LVCMOS18D PULL_MODE=NONE DRIVE=8;
IO_LOC "TMDS_D_P[1]" 52,51;
IO_PORT "TMDS_D_P[1]" IO_TYPE=LVCMOS18D PULL_MODE=NONE DRIVE=8;
IO_LOC "TMDS_D_P[2]" 54,53;
IO_PORT "TMDS_D_P[2]" IO_TYPE=LVCMOS18D PULL_MODE=NONE DRIVE=8;
IO_LOC "TMDS_CLK_P" 41,42;
IO_PORT "TMDS_CLK_P" IO_TYPE=LVCMOS18D PULL_MODE=NONE DRIVE=8;

IO_LOC "IO[19]" 40;
IO_LOC "IO[18]" 39;
IO_LOC "IO[17]" 38;
IO_LOC "IO[16]" 37;
IO_LOC "IO[15]" 36;
IO_LOC "IO[14]" 35;
IO_LOC "IO[13]" 34;
IO_LOC "IO[12]" 33;
IO_LOC "IO[11]" 32;
IO_LOC "IO[10]" 31;
IO_LOC "IO[9]" 30;
IO_LOC "IO[8]" 29;
IO_LOC "IO[7]" 28;
IO_LOC "IO[6]" 27;
IO_LOC "IO[5]" 26;
IO_LOC "IO[4]" 25;
IO_LOC "IO[3]" 20;
IO_LOC "IO[2]" 19;
IO_LOC "IO[1]" 18;
IO_LOC "IO[0]" 17;

IO_LOC "LED[7]" 87;
IO_LOC "LED[6]" 88;
IO_LOC "LED[5]" 10;
IO_LOC "LED[4]" 11;
IO_LOC "LED[3]" 13;
IO_LOC "LED[2]" 14;
IO_LOC "LED[1]" 15;
IO_LOC "LED[0]" 16;

IO_LOC "FTB0" 60;
IO_LOC "FTB1" 59;

IO_LOC "FTD[7]" 73;
IO_LOC "FTD[6]" 74;
IO_LOC "FTD[5]" 75;
IO_LOC "FTD[4]" 76;
IO_LOC "FTD[3]" 56;
IO_LOC "FTD[2]" 55;
IO_LOC "FTD[1]" 57;
IO_LOC "FTD[0]" 50;

IO_LOC "ADC_D[7]" 81;
IO_LOC "ADC_D[6]" 82;
IO_LOC "ADC_D[5]" 83;
IO_LOC "ADC_D[4]" 84;
IO_LOC "ADC_D[3]" 85;
IO_LOC "ADC_D[2]" 86;
IO_LOC "ADC_D[1]" 3;
IO_LOC "ADC_D[0]" 4;
IO_LOC "ADC_CLK" 77;

IO_LOC "KEY1" 79;
IO_LOC "KEY0" 80;
IO_PORT "KEY1" PULL_MODE=UP;
IO_PORT "KEY0" PULL_MODE=UP;

IO_LOC "CLK" 47;
