// CLK
IO_LOC "CLK" 4;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;


// LED

IO_LOC "LED[5]" 15;
IO_PORT "LED[5]" IO_TYPE=LVCMOS33;

IO_LOC "LED[4]" 16;
IO_PORT "LED[4]" IO_TYPE=LVCMOS33;

IO_LOC "LED[3]" 17;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33;

IO_LOC "LED[2]" 18;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33;

IO_LOC "LED[1]" 19;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33;

IO_LOC "LED[0]" 20;
IO_PORT "LED[0]" IO_TYPE=LVCMOS33;


// UART

IO_LOC "UART_TX" 70;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33;

IO_LOC "UART_RX" 69;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33;


// KEY

IO_LOC "KEY[1]" 87;
IO_PORT "KEY[1]" IO_TYPE=LVCMOS33;

IO_LOC "KEY[0]" 88;
IO_PORT "KEY[0]" IO_TYPE=LVCMOS33;


// GPIO
IO_LOC "GPIO[0]" 79;
IO_PORT "GPIO[0]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[1]" 86;
IO_PORT "GPIO[1]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[2]" 49;
IO_PORT "GPIO[2]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[3]" 55;
IO_PORT "GPIO[3]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[4]" 48;
IO_PORT "GPIO[4]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[5]" 51;
IO_PORT "GPIO[5]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[6]" 54;
IO_PORT "GPIO[6]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[7]" 56;
IO_PORT "GPIO[7]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[8]" 41;
IO_PORT "GPIO[8]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[9]" 42;
IO_PORT "GPIO[9]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[10]" 80;
IO_PORT "GPIO[10]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[11]" 76;
IO_PORT "GPIO[11]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[12]" 72;
IO_PORT "GPIO[12]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[13]" 71;
IO_PORT "GPIO[13]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[14]" 31;
IO_PORT "GPIO[14]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[15]" 30;
IO_PORT "GPIO[15]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[16]" 29;
IO_PORT "GPIO[16]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[17]" 26;
IO_PORT "GPIO[17]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[18]" 25;
IO_PORT "GPIO[18]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[19]" 28;
IO_PORT "GPIO[19]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[20]" 27;
IO_PORT "GPIO[20]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[21]" 77;
IO_PORT "GPIO[21]" IO_TYPE=LVCMOS33;

IO_LOC "GPIO[22]" 85;
IO_PORT "GPIO[22]" IO_TYPE=LVCMOS33;